address {
  display: inline-block;
  font-style: italic;
  font-weight: bold;
}

.icon-menu {
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 2em;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}