body > header {
  background-color: rgb(243, 216, 136);
}

.heading-group-h1 {
  background-color: rgb(243, 216, 136)
}

header > div {
  color: grey;
}

header > div a {
  text-decoration: none;
  color: grey;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul {
  display: none;
  list-style-type: none;
  margin-left: 0em;
  padding-left: 0em;
}

li {
  
  font-size: 1.5em;
  border-bottom: 1px solid grey;
  padding-bottom: .5em;
  padding-top: .5em;
}
li a {
  text-decoration: none;
  color: grey;
  font-family: 'Times New Roman', Times, serif;

}

.icon-menu:hover {

}