.main-header {
  background-color: #ffe99b;
}

.icon-menu {
  font-size: 2em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2em;
}

nav li {
  padding: 1.5em 0;
  border-bottom: 1px solid grey;
}

nav a {
  text-decoration: none;
  color: #555;
  font-size: 1.75em;
}